---
import Layout from "../layouts/Layout.astro";
---
<Layout title="About">
    <div class="flex flex-col justify-center">
            <h1 class="flex text-4xl font-bold justify-center py-5">About</h1>
        <div class="flex justify-center">
            <span class="flex lg:w-1/2 md:w-4/5 w-11/12">
         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus dui ut nunc lacinia, quis fringilla arcu laoreet. Aliquam vitae urna non leo egestas eleifend. Nullam blandit, massa sit amet dictum rutrum, nulla orci pretium quam, facilisis consequat urna risus et lacus. Curabitur eu odio sed augue facilisis pellentesque vitae non turpis. Aliquam pretium non orci quis pellentesque. Aenean sit amet blandit orci, sed laoreet augue. Proin in mi eu felis blandit blandit. Curabitur rutrum sapien vel malesuada consectetur.

Aliquam erat volutpat. Aenean euismod eros ac nunc pulvinar, ac vehicula nulla lobortis. Nam sed tortor vel elit lobortis aliquet ut in libero. Fusce venenatis risus ac est fringilla, quis mollis metus placerat. Aliquam erat volutpat. Cras vitae eros in turpis scelerisque mollis ac eget neque. Mauris porttitor sit amet orci vel bibendum. Aenean faucibus augue quis finibus imperdiet. Phasellus pulvinar augue sed turpis ultricies condimentum. In laoreet luctus est, vel gravida neque ullamcorper id. Sed dictum odio quis mauris fermentum, id bibendum libero pretium. Nullam id facilisis mi, vel porttitor turpis. Nulla facilisi. Nam a elit a tortor mattis egestas vitae et justo. Sed hendrerit, velit ut ultricies maximus, sapien elit facilisis sapien, in lacinia diam nulla id turpis. 
            </span>
        </div>
    </div>
</Layout>