---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { getCollection } from "astro:content";

interface Post {
  data: {
    title: string;
    description: string;
    date: string; // Format: YYYY-MM-DD
    edited?: string; // Format: YYYY-MM-DD
    draft?: boolean;
    url: string;
  };
}

let posts: Post[] = await getCollection("posts");
// filter out drafts
posts = posts.filter((post) => !post.data.draft);

// Sort posts by date in descending order
posts.sort((a, b) => Date.parse(b.data.date) - Date.parse(a.data.date));


---
<Layout title="Home">
  <div class="flex justify-center place-content-center h-max">
  <div class="flex flex-col justify-center w-full h-full">
    <h1 class="flex justify-center pb-4 text-center">Explore the world of technology through my personal tech-oriented blog.</h1>
      {posts.map((post) => (
          <Card title={post.data.title}
                date={new Date(post.data.date).toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' })}
                edited={post.data.edited ? new Date(post.data.edited).toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) : undefined}
                body={post.data.description}
                url={'/posts/' + post.slug}
                >
          </Card>
  ))}
    </div>
  </div>

</Layout>