---
interface Props {
	title: string;
	body: string;
	date: string;
}

const { title, body, date } = Astro.props;
---

<div class="flex justify-center h-full">
	<div id="card" class="flex-col border px-10 py-5 w-1/2 h-1/5 rounded-full border-[#262730] shadow-lg  hover:bg-[#E8E3C2] hover:scale-105 transform-gpu transition duration-y">
		<div class="text-2xl">{title}</div>
		<div>{date}</div>
		<div class="text-xl line-clamp-3">{body}</div>
	</div>
</div>