---
// get current year
let date = new Date();
let year = date.getFullYear();
---

<div class="flex justify-center md:py-10 py-2 md:text-base text-sm">
    © {year} Copyright: 
    <a href="https://bence.kolonics.fr/">
    Bence Kolonics
    </a>
</div>