---
// get current year
let date = new Date();
let year = date.getFullYear();
---

<div class="flex justify-center py-10">
    © {year} Copyright: 
    <a href="https://bence.kolonics.fr/">
    Bence Kolonics
    </a>
</div>