<div class="flex justify-center gap-10 text-2xl">
    <a class="link link-underline link-underline-black" href="https://bence.kolonics.fr">
        About me
    </a>
    <a class="link link-underline link-underline-black" href="/">
        Blog
    </a>
    <a class="link link-underline link-underline-black" href="/about/">
    About this blog
    </a>
</div>

<style>
	.link-underline {
		border-bottom-width: 0;
		background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
		background-size: 0 3px;
		background-position: 0 100%;
		background-repeat: no-repeat;
		transition: background-size .5s ease-in-out;
	}

	.link-underline-black {
		background-image: linear-gradient(transparent, transparent), linear-gradient(#262730, #262730)
	}

	.link-underline:hover {
		background-size: 100% 3px;
		background-position: 0 100%
	}
</style>