--- 
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="👋 Welcome to my blog, whether you're a coding enthusiast, a gadget guru, or simply curious about coding, Linux, computers and other fun things, you've come to the right place.">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="flex flex-col h-screen bg-[#FAF4D3] text-[#262730]" style="font-family: 'TT2020Base-Regular'">
	<Navbar>
	</Navbar>
	<div class="flex-grow">
		<slot />
	</div>
		<div>
		<Footer>
		</div>
	</body>
</html>

<style is:global>
	/*https://copypaste.wtf/TT2020/docs/	 */
	@font-face {
	  font-family: 'TT2020Base-Regular';
	  src: url('/fonts/TT2020StyleE-Regular.woff2') format('woff');
	  font-weight: normal;
	  font-style: normal;
	  font-display: swap;
	}
	</style>
	