---
import Layout from "./Layout.astro";
import { CollectionEntry } from "astro:content";
const { frontmatter} = Astro.props;

type Props = CollectionEntry<'blog'>['data']

---
<Layout title={frontmatter.title}>
    <h1>Markdown page</h1>
    <p>Markdown page content</p>
    <p>Page title: {frontmatter.title}</p>

</Layout>