---
import Layout from "./Layout.astro";
import { CollectionEntry } from "astro:content";
const { frontmatter} = Astro.props;

type Props = CollectionEntry<'blog'>['data']

const { title } = Astro.props;
---
<Layout title="Makrdown page">
    <h1>Markdown page</h1>
    <p>Markdown page content</p>
    <p>Page title: {frontmatter.title}</p>

</Layout>